* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  margin: 30px auto;
  position: relative;
}

.item {
  background-color: green;
  color: #fff;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #fff;
}

.item:nth-child(2) {
  /* position: relative; */
  /* left: calc(100% - 100px);
  top: 0; */
  /* left: 40px;
  top: 40px;
  z-index: 1; */
  /* width: auto;
  height: auto; */
  /* position: absolute; */
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  /* inset: 0; */
  position: fixed;
  right: 0;
  bottom: 0;
}

.item:nth-child(3) {
  position: relative;
}

body {
  height: 2000px;
}

/*
Thuộc tính position = Thay đổi vị trí các elements
- relative => Vị trí tương đối
- absolute => Vị trí tuyệt đối
- fixed => Vị trí cố định
- static => Không có position (Mặc định)

Các thuộc tính liên quan
- top
- left
- right
- bottom
- inset
- z-index
*/
